/* 
Notes:
h1 - Hero landing page „ÅÆ Name
H2 - section headers
h3 - subsection headers
h4 - menu 

*/

body {
    font-family: Helvetica, Arial, sans-serif;
}

.left-navigation {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    color: white
}

/* The navigation menu links */
.left-navigation a {
    padding: 10px 16px 10px 16px;
    text-decoration: none;
    font-size: 1em;
    color: #818181;
    display: block;
  }

/* When you mouse over the navigation links, change their color */
.left-navigation a:hover {
    color: #f1f1f1;
  }

.main-container {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}