body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #303030;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin: 0;
}

/* Style the header */
.header {
    padding: 10px 16px;
    color: #f1f1f1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 4;
    align-items: center;
  }

.logo-chinese {
    font-family: 'Yuji Boku', serif;
    font-size: 3em;
    color: #333;
}

.logo-sub {
    font-size: 1em;
    color: #333;
}


  .hamburger {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  * {box-sizing:border-box}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  margin: 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 1vh;
  width: auto;
  margin-top: 25%;
  padding: 16px;
  color: #333;
  font-weight: bold;
  font-size: 4em;
  transition: 0.6s ease;
  border-radius: 0 6px 6px 0;
  user-select: none;
  z-index: 4;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 6px 0 0 6px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.1);
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.5} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.5} 
  to {opacity: 1}
}


.slider-1 {
    background-image: url("media/slider-1.jpg");
    ;
}

.slider-2 {
    background-image: url("media/slider-2.jpg");
}

.slider-3 {
    background-image: url("media/slider-3.jpg");

}

.slider-1, .slider-2, .slider-3 {
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    margin: 0px;
}

.overlay{
    width:100%;
    height:800px;
    top:0px;
    left:0px;
    z-index:1;
}