body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #303030;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin: 0;
}

/* Style the header */
.header {
    padding: 10px 16px;
    color: #f1f1f1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 4;
    align-items: center;
  }

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-chinese {
    font-family: 'Yuji Boku', serif;
    font-size: 3em;
    color: #333;
}

.logo-sub {
    font-size: 1em;
    color: #333;
}

  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  

  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 19px;
    left: 19px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  } 



/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  margin: 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 1vh;
  width: auto;
  margin-top: 25%;
  padding: 16px;
  color: #333;
  font-weight: bold;
  font-size: 4em;
  transition: 0.6s ease;
  border-radius: 0 6px 6px 0;
  user-select: none;
  z-index: 4;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 6px 0 0 6px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.1);
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.5} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.5} 
  to {opacity: 1}
}


.slider-1 {
    background-image: url("media/slider-1.jpg");
    ;
}

.slider-2 {
    background-image: url("media/slider-2.jpg");
}

.slider-3 {
    background-image: url("media/slider-3.jpg");

}

.slider-1, .slider-2, .slider-3 {
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    margin: 0px;
}

.overlay2 {
    width:100%;
    height:800px;
    top:0px;
    left:0px;
    z-index:1;
}